<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Risk Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header>
        <h1>Patient Deterioration Prediction in ICUs</h1>
    </header>

    <main>
        <form id="predict-form">
            <label for="Heart_Rate">Heart Rate:</label>
            <input type="number" step="0.00001" id="Heart_Rate" name="Heart_Rate" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Respiratory_Rate">Respiratory Rate:</label>
            <input type="number" step="0.00001" id="Respiratory_Rate" name="Respiratory_Rate" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Body_Temperature">Body Temperature:</label>
            <input type="number" step="0.00001" id="Body_Temperature" name="Body_Temperature" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Oxygen_Saturation">Oxygen Saturation:</label>
            <input type="number" step="0.00001" id="Oxygen_Saturation" name="Oxygen_Saturation" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Derived_HRV">Derived HRV:</label>
            <input type="number" step="0.00001" id="Derived_HRV" name="Derived_HRV" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Derived_BMI">Derived BMI:</label>
            <input type="number" step="0.00001" id="Derived_BMI" name="Derived_BMI" pattern="^\d+(\.\d+)?$" required><br>

            <label for="Derived_MAP">Derived MAP:</label>
            <input type="number" step="0.00001" id="Derived_MAP" name="Derived_MAP" pattern="^\d+(\.\d+)?$" required><br>

            <button type="submit">Submit</button>
        </form>

        <div id="prediction-result">
            <!-- Prediction result will be displayed here -->
        </div>
    </main>

    <footer>
        <p>&copy; 2024 ML4ICU. All Rights Reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
